.recipe-show-container {
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    color: #222
}

.recipe-header-container {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

#recipe-name-box {
    min-width: 300px;
    padding-right: 50px;
    max-width: 100px;
}

#recipe-name-show {
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    font-weight: lighter;
    font-size: 34px;
    letter-spacing: .4px;
    line-height: 1.2;
}

#recipe-author-show {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 25px;
}

#author-underline {
    text-decoration: underline;
}

#recipe-show-img {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.details-description-container {
    display: flex;
    justify-content: space-between;
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    font-weight: 100px;
    letter-spacing: .01em;
    line-height: 1.5;
    color:#222;
    margin-top: 20px;
}

#time-rating-notes {
    min-width: 300px;
    padding-right: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 1.5;
}

.ingredients-preparation-container{
    display: flex;
    margin-top: 20px;
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    font-weight: 100px;
    letter-spacing: .01em;
    line-height: 1.5;
    color:#222;
}

#ingredients {
    min-width: 300px;
    padding-right: 50px;
    max-width: 100px;
    font-family: 'Libre Franklin', sans-serif;
}

#ingredients-list-items {
    padding: 10px;
    font-size: 14px;
}

.ratings-notes-container {
    display: flex;
    margin-top: 20px;
    letter-spacing: .01em;
    line-height: 1.5;
}

#ratings-section {
    min-width: 300px;
    padding-right: 50px;
}

.newsletter-section-container {
    display: flex;
    margin-top: 20px;
    letter-spacing: .01em;
    line-height: 1.5;
}

#cooking-notes-text, #ratings-text, #ingredients-text, #preparation-text {
    font-family: 'Patua One', cursive;
    letter-spacing: .08em;
    line-height: 1.5;
    font-size: 18px;
}

#cooking-notes-container {
    width: 100%;
}

#preparation-text, #ingredients-text, #ratings-text {
    margin-bottom: 10px;
    
}

.steps-text {
    font-family: nyt-cheltenham,Georgia,"Times New Roman",serif;
    font-weight: 100px;
    letter-spacing: .01em;
    line-height: 1.5;
    color:#222;
    font-size: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}

#step-text {
    font-weight: bold;
}