/* #login-button {
    border-radius: 50px;
    background-color: red;
} */

#email {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 16px 0px 0px;
    border: none;
    margin: 0px;
    display: block;
}
#email-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    display: block;
}

#password {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#password-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    display: block;
}

#email input,
#password input {
    border: 1px solid lightgray;
    width: 100%;
    height: 2.75rem;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    outline: none;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#login-modal-text {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: rgb(34, 34, 34);
    text-align: center;
}

#login-home-button {
    border-radius: 20px;
    border: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#login-home-button:hover {
    background-color: #cacaca;
}

#login-modal-button {
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #e33d26;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 2.75rem;
    background-color: #e33d26;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-demo-button {
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #cacaca;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 2.75rem;
    background-color: #989898;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#account-sign-up-link-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
